name: Lint and test
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  lint_test:
    strategy:
      matrix:
        python-version: [ '3.10', '3.11', '3.12', '3.13', '3.14' ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true
      - name: Lint with pre-commit
        uses: pre-commit/action@v3.0.0
      - name: Install requirements
        run: pip install poetry==2.1.1 && poetry install
      - name: Test
        run: poetry run python -m pytest --cov fastapi_injector --cov-report xml
      - name: Collect test coverage
        uses: AndreMiras/coveralls-python-action@develop
        with:
          parallel: true
          flag-name: python-${{ matrix.python-version }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
  coverage-finish:
    needs: lint_test
    runs-on: ubuntu-latest
    steps:
      - uses: AndreMiras/coveralls-python-action@v20201129
        with:
          github-token: ${{ secrets.github_token }}
          parallel-finished: true
